# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.5

## Exercícios Cap02

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
lista = [1,2,3,4,5,6,7,8,9,10]
print (lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [5]:
lista_compras = ["banana", "maçã", "abacate", "pera", "uva"]
print(lista_compras)

['banana', 'maçã', 'abacate', 'pera', 'uva']

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [7]:
texto1 = 'De grão em grão'
texto2 = ' a galinha enche o papo.'
texto_final = texto1 + texto2
print(texto_final)

De grão em grão a galinha enche o papo.

In [8]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [9]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [10]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [11]:
dict = {}
print(dict)

{}

In [12]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [13]:
dict = {'serie1': 'Star Trek', 'serie2': 'The 100', 'serie3': 'Mr. Robot'}
print(dict)

{'serie1': 'Star Trek', 'serie2': 'The 100', 'serie3': 'Mr. Robot'}

In [14]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [15]:
dict['serie4'] = 'The Magicians'
print(dict)

{'serie1': 'Star Trek', 'serie2': 'The 100', 'serie3': 'Mr. Robot', 'serie4': 'The Magicians'}

In [16]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [17]:
dict2 = {'framework1': 'Django', 'framework2': 'Flask', 'quantidade_framework': '[1, 2]'}
print(dict2)

{'framework1': 'Django', 'framework2': 'Flask', 'quantidade_framework': '[1, 2]'}

In [18]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [19]:
lista_elementos = ['Danie', (10, 1992), {'key1': 'value1', 'key2': 'value2'}, 54.1]
print(lista_elementos)

['Danie', (10, 1992), {'key1': 'value1', 'key2': 'value2'}, 54.1]

In [20]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>